@model List<Cliente>
@Html.Raw(TempData["msg"])

<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

<h1>Clientes</h1>
<hr />
<p>Se listarán todos los clientes registrados</p>

<a asp-action="Agregar" class="btn btn-success" style="margin-top:10px; margin-bottom:20px; float: right">Agregar Cliente</a>

<table class="table">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>TELEFONO</th>
            <th>MAIL</th>
            <th>CUIT</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <label>@item.Nombre</label>
            </td>
            <td>
                <label>@item.Apellido</label>
            </td>
            <td>
                <label>@item.Telefono</label>
            </td>
            <td>
                <label>@item.Mail</label>
            </td>
            <td>
                <label>@item.Cuit</label>
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id" class="iconito iconito-verde fa-sharp fa-solid fa-pen-to-square fa-lg"></a>
            </td>
            <td>
                <a asp-action="Borrar" asp-route-id="@item.Id" class="iconito iconito-rojo fa-sharp fa-solid fa-trash fa-lg"></a>
            </td>
        </tr>
    }
</table>